.boton {
	cursor: pointer;
}

.barraForm {
	cursor: move;
	background-color: #015d9f;
	font-size: 6.4px;
	padding: 6px 4px;
}

.tituloForm {
	margin: 0px;
}

.subtituloForm {
	text-align: center;
	color: #05d1ff;
}

.subsubtituloForm {
	margin: 4px;
}

.divForm {
	/* Escondido por default */
	display: none;
	position: absolute;
	text-align: center;
	/* width: min-content; */
	width: fit-content;
	background: rgb(35, 35, 35);
	border: 3px solid #0a1e33;
	color: rgb(255, 255, 255);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 6px;
}

.form {
	margin: 4px 6px;
}

.campos {
	display: grid;
	grid-template-columns: 0.5fr 2fr;
	align-items: center;
}

.radios {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	align-items: center;
}

.radios label {
	margin: 0px;
}

label {
	width: auto;
	font-size: 8px;
	margin: 4.7px 2px;
}

input, select, textarea {
	font-size: 7px;
	width: auto;
	padding: 1px 2px;
	margin: 1px 2px;
	border: 1px solid #636363;
	border-radius: 2.8px;
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

textarea {
	min-width: 30px;
	text-align: justify;
	margin: 4px 2px;
	overflow: hidden;
	padding: 2px 5px;
	resize: none;
}

input[disabled] {
	color: white;
}

textarea[disabled] {
	color: white;
	background-color: rgb(96 96 96);
}

input[type="radio"] {
	cursor: pointer;
	width: 9px;
	margin-left: 7px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

select {
	cursor: pointer;
}

.tabla {
	margin-top: 4px;
	margin-bottom: 4px;
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	align-items: center;
}

.tabla label {
	margin: 1px 0px;
}

.tituloTabla {
	color: #05d1ff;
}

.botones {
	margin-top: 2px;
	display: grid;
	grid-template-columns: auto auto;
}

.botonConfirmar, .botonBorrar, .botonCerrar, .botonExtra, .botonAgregar, .botonRemover {
	font-size: 8px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: rgb(255, 255, 255);
	border: 1.1px solid rgb(100, 100, 100);
	border-radius: 2.8px;
	cursor: pointer;
	margin: 2px 2px;
	padding: 4px 0px;
	min-width: 60px;
}

.botonConfirmar {
	background-color: rgb(0, 173, 255);
}

.botonBorrar {
	background-color: rgb(139, 33, 255);
}

.botonCerrar {
	background-color: rgb(255, 85, 33);
}

.botonExtra {
	background-color: rgb(21, 50, 71);
}

.botonAgregar {
	background-color: rgb(105, 172, 15);
	padding: 5px 4px;
}

.botonRemover {
	background-color: rgb(206, 31, 22);
	padding: 1px 12px;
}