.boton {
	cursor: pointer;
}

.barraForm {
	height: 12px;
	cursor: move;
	background-color: #015d9f;
	font-size: 2.2px;
	position: relative;
}

.tituloForm {
	margin: 0px;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.subtituloForm {
	text-align: center;
	color: #05d1ff;
}

.divForm {
	/* Escondido por default */
	display: none;
	position: absolute;
	text-align: center;
	width: min-content;
	height: min-content;
	background: rgb(35, 35, 35);
	border: 1px solid #0a1e33;
	color: rgb(255, 255, 255);
	font-size: 2.2px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form {
	margin-top: 2px;
}

.campos {
	display: grid;
	grid-template-columns: 0.5fr 2fr;
	align-items: center;
}

.radios {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	align-items: center;
}

.radios label {
	margin: 0px;
}

label {
	width: auto;
	margin-left: 2px;
	font-size: 2.7px;
}

input {
	font-size: 2px;
	width: auto;
	padding: 1px 2px;
	margin: 1px 2px;
	border: 0.5px solid #ccc;
	border-radius: 4px;
	text-align: center;
}

input[type="radio"] {
	cursor: pointer;
	height: 9px;
	width: 3.5px;
	margin-left: 2.8px;
	margin-right: 0px;
}

input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

select {
	cursor: pointer;
	font-size: 2px;
	width: auto;
	padding: 1px 2px;
	margin: 1px 2px;
	border: 0.5px solid #ccc;
	border-radius: 4px;
	text-align: center;
	-webkit-appearance: none;
}

.tabla {
	margin-top: 2px;
	margin-bottom: 2px;
	display: grid;
	grid-template-columns: 25px 25px;
	align-items: center;
}

.tabla label {
	margin-top: 1px;
	margin-bottom: 1px;
}

/* select::-ms-expand {
    display: none;
} */

/* select {
	font-size: 2px;
    padding: 1px 4px;
	margin: 1px 2px;
	
	text-align: center;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
}

#labelSelect {position:relative}
#labelSelect:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:2px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
#labelSelect:before {
    content:'';
    right:6px; top:0px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
} */

.botones {
	display: grid;
	grid-template-columns: auto auto;
}

.botonConfirmar, .botonBorrar, .botonCerrar, .botonExtra {
	font-size: 3px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: rgb(255, 255, 255);
	border: 0.4px solid rgb(100, 100, 100);
	border-radius: 2px;
	cursor: pointer;
	margin: 2px 1px;
}

.botonConfirmar {
	background-color: rgb(0, 173, 255);
}

.botonBorrar {
	background-color: rgb(139, 33, 255);
}

.botonCerrar {
	background-color: rgb(255, 85, 33);
}

.botonExtra {
	background-color: rgb(21 50 71);
}